target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/
!.mvn/wrapper/maven-wrapper.jar
.gradle/
!gradle/wrapper/gradle-wrapper.jar

############################
# IDE / tooling
############################
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# OS junk
############################
.DS_Store
Thumbs.db

############################
# Logs / temp / dumps
############################
logs/
*.log
*.tmp
*.swp
hs_err_pid*
replay_pid*

############################
# Env / secrets / local overrides
############################
.env
*.env
*.env.*        # например, .env.local, .env.dev
*.local

############################
# Java binaries / archives
############################
*.class
*.jar
*.war
*.ear

############################
# Embedded DB artifacts (если вдруг включишь файловый H2/SQLite)
############################
*.h2.db
*.mv.db
*.sqlite
*.db
